<!DOCTYPE html>
<html>
<head>
	<title>Measure portion of blood gas Report </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='PPM.css')}}">
</head>
<body>
	<div class="report_form">
		<div class="head">
				<h1>Measure portion of blood gas Report  </h1>
				<a href="{{url_for('OpenHeartDepartment')}}"><button class="btn1">Back</button></a>	
		</div>

		<form action="{{url_for('bloodgas')}}" method="POST">
			<label for="date"> Date:</label>
			<input type="text" placeholder="YYYY-MM-DD" name="date" >
			<label for="analyzer">Check analyzer performance: </label>
			<input type="text" name="CAP" >
			<label for="elec">Check electronic "hardware" performance:</label>
			<input type="text" name="CEHP" >
			<label for="soft">Check software performance: </label>
			<input type="text" name="CSP" >

			<label for="sign">Signature: </label>
			<input type="text"  name="sig" >

			<input class="submit" type="submit" value="Submit">
		</form>
	</div>
</body>
</html>